In [6]:
import general.utils
data=general.utils.loadState('temp')
import pandas as pd
target=pd.DataFrame(data['meta_targets'])
feat=pd.DataFrame(data['meta_features'])
print(feat.describe())
print(target.describe())

             47         334        174        258        77         31   \
count  28.000000  28.000000  28.000000  28.000000  28.000000  28.000000
mean    2.571429   4.285714   0.035714  51.321429  51.964286  52.000000
std     1.596955   1.511858   0.188982   6.760745   7.146520   7.128451
min     0.000000   0.000000   0.000000  37.000000  37.000000  37.000000
25%     1.750000   4.000000   0.000000  46.000000  46.750000  46.750000
50%     2.000000   4.000000   0.000000  48.000000  48.000000  48.500000
75%     4.000000   4.000000   0.000000  58.000000  59.000000  59.000000
max     7.000000   8.000000   1.000000  62.000000  63.000000  63.000000

             87         233        209        226  ...        221        289  \
count  28.000000  28.000000  28.000000  28.000000  ...  28.000000   28.00000
mean    0.071429   3.428571   3.178571   3.107143  ...   8.714286  118.25000
std     0.262265   3.833851   1.492042   1.396803  ...   2.992053   31.71473
min     0.000000   0.000000   0.000000   0.000000  ...   4.000000   68.00000
25%     0.000000   0.000000   2.000000   2.000000  ...   6.000000   91.00000
50%     0.000000   2.500000   3.000000   3.000000  ...   8.000000  113.00000
75%     0.000000   6.000000   4.000000   3.250000  ...  11.000000  149.25000
max     1.000000  13.000000   8.000000   8.000000  ...  14.000000  179.00000

             319        307        320        322        324        328  \
count  28.000000  28.000000  28.000000  28.000000  28.000000  28.000000
mean    2.785714   0.071429   2.000000   0.928571   0.142857   0.142857
std     1.133893   0.377964   0.942809   1.015749   0.524531   0.524531
min     2.000000   0.000000   0.000000   0.000000   0.000000   0.000000
25%     2.000000   0.000000   2.000000   0.000000   0.000000   0.000000
50%     2.000000   0.000000   2.000000   0.000000   0.000000   0.000000
75%     4.000000   0.000000   2.000000   2.000000   0.000000   0.000000
max     6.000000   2.000000   4.000000   2.000000   2.000000   2.000000

             323        329
count  28.000000  28.000000
mean    0.785714   1.857143
std     0.994695   0.524531
min     0.000000   0.000000
25%     0.000000   2.000000
50%     0.000000   2.000000
75%     2.000000   2.000000
max     2.000000   2.000000

[8 rows x 237 columns]
        accuracy  precision     recall         f1       size      shift
count  28.000000  28.000000  28.000000  28.000000  28.000000  28.000000
mean    0.953214   0.878214   0.911786   0.877500  28.392857  23.571429
std     0.058440   0.035700   0.034108   0.037478  10.278850   7.559289
min     0.680000   0.770000   0.820000   0.780000  15.000000  15.000000
25%     0.940000   0.857500   0.890000   0.860000  15.000000  15.000000
50%     0.960000   0.880000   0.910000   0.885000  30.000000  30.000000
75%     0.990000   0.910000   0.940000   0.900000  30.000000  30.000000
max     0.990000   0.950000   0.970000   0.930000  45.000000  30.000000

In [4]:
import pandas as pd
a=pd.Timestamp('2009-08-09 02:06:04.875001').value
b=pd.Timestamp('2009-08-09 02:08:04.875001').value
from intervaltree.intervaltree import IntervalTree
tree = IntervalTree()
tree[a:b]='s'

In [3]:
from constants import methods
ds=methods.dataset[1]['method']()
ds.load()
se=ds.sensor_events.copy()
# se.groupby('SID')['value'].max()

['Enter_Home' 'Personal_Hygiene' 'Meal_Preparation' 'Taking_Medication'
 'Eating' 'Leave_Home' 'Sleeping_Not_in_Bed' 'Bed_Toilet_Transition'
 'Sleeping_in_Bed' 'Bathing' 'Housekeeping']

In [4]:
ds.sensor_id_map

{0: 'D021',
 1: 'D022',
 2: 'D023',
 3: 'D024',
 4: 'D025',
 5: 'D026',
 6: 'D027',
 7: 'D028',
 8: 'D029',
 9: 'D030',
 10: 'D031',
 11: 'D032',
 12: 'M001',
 13: 'M002',
 14: 'M003',
 15: 'M004',
 16: 'M005',
 17: 'M006',
 18: 'M007',
 19: 'M008',
 20: 'M009',
 21: 'M010',
 22: 'M011',
 23: 'M012',
 24: 'M015',
 25: 'M016',
 26: 'M017',
 27: 'M018',
 28: 'M019',
 29: 'M020'}

In [127]:
se.groupby(se['time'].dt.floor('d')).count()
g=se.groupby([se['time'].dt.floor('d'),se['SID']]).count()
g.loc['2009-06-15'].droplevel(0)-g.loc['2009-06-16'].droplevel(0)

       time  value
SID
D021    NaN    NaN
D023    NaN    NaN
D024   -2.0   -2.0
D025  -14.0  -14.0
D026   -6.0   -6.0
D027   -6.0   -6.0
D028   -4.0   -4.0
D029   -4.0   -4.0
D031  -12.0  -12.0
D032   -8.0   -8.0
M001 -344.0 -344.0
M002 -300.0 -300.0
M003 -108.0 -108.0
M004 -218.0 -218.0
M005    NaN    NaN
M006  -34.0  -34.0
M007  -78.0  -78.0
M008 -106.0 -106.0
M009 -150.0 -150.0
M010    NaN    NaN
M011 -206.0 -206.0
M012  -60.0  -60.0
M015 -240.0 -240.0
M016    NaN    NaN
M017  -26.0  -26.0
M018  -54.0  -54.0
M019  -86.0  -86.0

In [157]:
ssize=pd.to_timedelta('1d')
overlap=pd.to_timedelta('1d')*.5
se['time'].dt.floor(pd.to_timedelta('1h')).unique()
starts=se['time'].dt.floor(overlap).unique()
ends=starts+ssize
# for s,d in zip(starts,ends):
#     print(s,d)
    
se.groupby('SID').count()

       time  value
SID
D021     50     50
D022     42     42
D023    350    350
D024    394    394
D025    918    918
D026     86     86
D027    328    328
D028   1579   1579
D029    250    250
D030    358    358
D031   1504   1504
D032    626    626
M001  14595  14595
M002  27647  27647
M003  16406  16406
M004  23608  23608
M005   7227   7227
M006   4161   4161
M007   6627   6627
M008  13605  13605
M009  15736  15736
M010   4331   4331
M011  34867  34867
M012   9375   9375
M015  22083  22083
M016   9685   9685
M017   7217   7217
M018  10447  10447
M019  13819  13819
M020   6999   6999

In [14]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
rng=ds.sensor_desc.loc[329]['ItemRange']['range']
enc.fit(np.asarray(rng).reshape(-1,1))

OneHotEncoder(handle_unknown='ignore')

In [28]:
ds.sensor_desc[ds.sensor_desc['Nominal']==1].index.values

array([334, 174,  77,  31, 209, 226,  49, 352, 331, 332, 330, 333,  35,
       339, 340, 357, 358, 242, 131, 162, 244, 171,  89, 207, 208, 214,
       220, 262, 310, 312, 337, 338, 356, 360, 335, 336, 305,  40, 124,
       109, 210, 306,  62,  57,  52, 240,  51,  37,  61, 300, 315, 316,
       317, 355, 314, 223, 230, 269, 346, 302, 345, 304, 400, 168,  43,
        46, 118, 111,  72, 185, 212, 218,  45,  28, 299, 292, 293, 294,
       295, 291, 353, 297, 351, 298, 282, 361, 273, 180, 343, 216, 177,
       182, 222,  94, 311, 341, 354, 342, 283, 363, 213, 318, 344, 215,
       347, 348, 221, 319, 307, 320, 322, 324, 328, 323, 329])

In [70]:
from sklearn.preprocessing import MinMaxScaler

nominal=[ds.sensor_id_map_inverse[x] for x in ds.sensor_desc[ds.sensor_desc['Nominal']==1].index]
numeric_data=pd.DataFrame({ds.sensor_id_map_inverse[x]:ds.sensor_desc.loc[x]['ItemRange'] for x in ds.sensor_desc[ds.sensor_desc['Nominal']==0&(ds.sensor_desc['Cumulative']==0)].index})
numeric_data=numeric_data.sort_index()
minmaxscaler=MinMaxScaler()
# minmaxscaler.fit([numeric_data.loc['min'].values,numeric_data.loc['max'].values])                          

nominal_categories={ds.sensor_id_map_inverse[k]:ds.sensor_desc_map[k].keys() for k in ds.sensor_desc_map}
nominal_categories=[list(nominal_categories[k]) for k in sorted(nominal_categories.keys())]

numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", MinMaxScaler())]
)

categorical_transformer = OneHotEncoder(categories=nominal_categories,handle_unknown="ignore")

preprocessor = ColumnTransformer(
    transformers=[
        ("num", minmaxscaler, numeric_data.columns),
        ("cat", categorical_transformer, nominal),
    ]
)
z=np.zeros((2,len(ds.sensor_id_map)))
# z[]
for i in numeric_data.columns:
    z[0][i]=numeric_data.loc['min'][i]
    z[1][i]=numeric_data.loc['max'][i]

In [39]:
X=[list(range(len(ds.sensor_desc)))]

In [113]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [56]:
enc = OneHotEncoder(categories=[],handle_unknown='ignore')
# enc = OneHotEncoder()
enc.fit([['0',0]])
X = [['Female', 1], ['Female', 3], ['Female', 2]]
# enc.fit(X)
enc.transform(X).toarray()

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).

In [1]:
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
ss=StandardScaler()

In [104]:


z=np.zeros((2,len(ds.sensor_id_map)))
# z[]
for i in numeric_data.columns:
    z[0][i]=numeric_data.loc['min'][i]
    z[1][i]=numeric_data.loc['max'][i]

In [21]:
ss.mean_[0]=10
ss.var_[0]=9
ss.scale_[0]=np.sqrt(ss.var_[0])

In [108]:
preprocessor.fit(z)

ColumnTransformer(transformers=[('num', MinMaxScaler(),
                                 Int64Index([  0,   3,   6,   7,  10,  12,  13,  15,  16,  17,
            ...
            196, 201, 204, 207, 209, 210, 216, 222, 223, 228],
           dtype='int64', length=122)),
                                ('cat',
                                 OneHotEncoder(categories=[[0, 1], [0, 1],
                                                           [0, 1], [0, 1, 2, 3],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1, 2, 3],
                                                           [0, 1], [0, 1],
                                                           [0, 1, 2, 3], [0, 1],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1],
                                                           [0, 1], [0, 1], ...],
                                               handle_unknown='ignore'),
                                 [1, 2, 4, 5, 8, 9, 11, 14, 21, 22, 23, 24, 26,
                                  29, 30, 31, 32, 33, 35, 36, 38, 40, 41, 44,
                                  45, 46, 47, 50, 51, 52, ...])])

In [112]:
ds.sensor_events

        SID                time       value
0        85 2017-01-30 07:58:30   50.015659
12      113 2017-01-30 07:58:30    0.000000
11       81 2017-01-30 07:58:30  238.822281
10       80 2017-01-30 07:58:30    1.048577
8        79 2017-01-30 07:58:30    4.973270
...     ...                 ...         ...
746761  290 2017-02-24 16:41:15    0.563390
746763  286 2017-02-24 16:41:15    0.816694
746765  289 2017-02-24 16:41:16    0.675130
746764  132 2017-02-24 16:41:16    0.000000
746766  400 2017-02-24 16:41:16   40.000000

[746767 rows x 3 columns]